body{
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.button {
	color: black;
	background-color: gray;
	cursor: pointer;
	border-radius: 4px;
	padding: 10px;
}

#category{
    margin: 20px;
}

#top, #bottoms, #shoes{
    text-align: center;
    padding: 20px; 
}

#topImg, #bottomImg, #shoesImg{
    width: 300px;
}